#include "resource.h"
#include <winnt.h>

// English (United States)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    IDS_MENU_TITLE L"Convert with AT Image Converter"
END

// Korean
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
STRINGTABLE
BEGIN
    IDS_MENU_TITLE L"AT Image Converter\xB85C \xBCC0\xD658"
END

// Japanese
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
STRINGTABLE
BEGIN
    IDS_MENU_TITLE L"AT Image Converter\x3067\x5909\x63DB"
END

// Chinese (Simplified)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
STRINGTABLE
BEGIN
    IDS_MENU_TITLE L"\x4F7F\x7528AT Image Converter\x8F6C\x6362"
END

// Chinese (Traditional)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
STRINGTABLE
BEGIN
    IDS_MENU_TITLE L"\x4F7F\x7528AT Image Converter\x8F49\x63DB"
END
