<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  IgnorableNamespaces="uap uap3 rescap mp desktop com desktop4 desktop5">

  <Identity
    Name="49536HowonLee.ATImageConverter"
    Publisher="CN=7713B07B-6F8A-4FB4-877B-2FA9AF531D39"
    Version="1.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="AB4DC84E-A904-401F-9A3D-3F55D3770D25" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ms-resource:AppDisplayName</DisplayName>
    <PublisherDisplayName>Howon Lee</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png"/>
      </uap:VisualElements>

      <Extensions>
        <!-- File Explorer Context Menu (Windows 11) -->
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type=".png">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".jpg">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".jpeg">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".bmp">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".gif">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".tiff">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".ico">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".svg">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".webp">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".heic">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".heif">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".heix">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".pdf">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".psd">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".xcf">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".raw">
              <desktop5:Verb Id="ATICConvert" Clsid="AB4DC84E-A904-401F-9A3D-3F55D3770D25" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>

        <!-- COM Server for Context Menu -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="AT Image Converter Context Menu">
              <com:Class Id="AB4DC84E-A904-401F-9A3D-3F55D3770D25" Path="ATICContextMenu.dll" ThreadingModel="STA"/>
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>

        <!-- File type association for image files -->
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="imageconverter">
            <uap:DisplayName>ms-resource:AppDisplayName</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.bmp</uap:FileType>
              <uap:FileType>.gif</uap:FileType>
              <uap:FileType>.tiff</uap:FileType>
              <uap:FileType>.ico</uap:FileType>
              <uap:FileType>.svg</uap:FileType>
              <uap:FileType>.webp</uap:FileType>
              <uap:FileType>.heic</uap:FileType>
              <uap:FileType>.heif</uap:FileType>
              <uap:FileType>.heix</uap:FileType>
              <uap:FileType>.pdf</uap:FileType>
              <uap:FileType>.psd</uap:FileType>
              <uap:FileType>.xcf</uap:FileType>
              <uap:FileType>.raw</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <!-- App Execution Alias -->
        <uap3:Extension Category="windows.appExecutionAlias">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="ATImageConverter.exe"/>
          </uap3:AppExecutionAlias>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
